RewriteEngine On

RewriteCond %{HTTP:HTTPS} !on
RewriteRule (.*) https://backend.maydanyuk.org/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
