.wrap {width:100%; max-width:1580px; min-width:320px; margin:0 auto; padding:40px 15px 0}

.wrap.slide-block {max-width:100%;}
.show {display:block}
.headline {max-width:1024px; font-weight:500; font-size:20px; margin:0 auto 30px}


.nav-ctrl span, .dots-ctrl span {transition:all 0.3s}


.gallery {width:100%; visibility:hidden; margin:0 auto 30px}
.slider {width:100%; max-width:1580px; position:relative; overflow:hidden; margin:0 auto}
.stage {overflow:hidden}
.stage > div {float:left; position:relative}
.stage > div img {width:100%; max-width:800px; height:auto}

.control {width:100%; text-align:center; position:relative}
.nav-ctrl {display:none; line-height:20px; margin-top:10px}
.nav-ctrl span {width:100px; height:30px; display:inline-block; font-weight:500; font-size:12px; line-height:30px; color:#eee; font-family:'Roboto', sans-serif; text-transform:uppercase; text-align:center; margin:0 5px; border:solid 1px #357ebd; -webkit-border-radius:3px; border-radius:3px; outline:none; -webkit-user-select:none; user-select:none; background-color:#428bca; cursor:pointer; transition:all 0.3s}
.nav-ctrl span:hover {border-color:#285e8e; background-color:#3276b1}
.nav-ctrl .disable, .nav-ctrl .disable:hover {border:solid 1px #357ebd; background-color:#428bca; opacity:0.4; cursor:default}
.dots-ctrl {display:none; margin-top:10px}
.dots-ctrl li {display:inline-block}
.dots-ctrl span {width:10px; height:10px; display:block; margin:5px; -webkit-border-radius:50%; border-radius:50%; background-color:#0099ff; opacity:0.4; cursor:pointer}
.dots-ctrl .active span, .dots-ctrl span:hover {opacity:1}




.carousel .item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
.carousel h2{
    color: #fff;
    margin: 0;
    padding-top: 50px;
    font-size: 48px;
}
.carousel p{
    color: #666;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#bstext {
    margin: -99px auto 0;
    position: relative;
    z-index: 9;
    padding: 0;
}

#testCarousel li::before {
    background: linear-gradient(-180deg, rgba(234,237,237,0), #ffffff);
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED',GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED',GradientType=0)";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 279px;
    z-index: 1;
    min-height: 40rem;
}

#bstext .thumbnail p {
    padding: 9px;
    color: #333333;
    font-size: 14px;
    font-weight: 100;
    margin-top: auto;
    margin-bottom: auto;
}

#bstext .thumbnail {
    min-height: 471px;
}




#bstext .carousel-control.right {
    padding: 9px;
    color: #333333;
    font-size: 14px;
    font-weight: 100;
    margin-top: auto;
    margin-bottom: auto;
}

#testCarousel .carousel-control {
    height: 250px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 100%);
}
#testCarousel .item img{
    width: 100%;
}

.panel.panel-info.poll{
    min-height: 323px;
    background-image: linear-gradient(-180deg, rgba(234,237,237,0), #7c9659 250px), url(https://www.culture.ru/storage/images/151dd9a6bb12602e90dfb8a1009da6db/54383c7ff7a4f24fcb2155b43ebb643a.jpeg);
    border-radius: 11px;
    position: relative;
}

.poll .question {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    min-height: 105px;
}

.poll .badge{
    background: rgba(0,0,0,0);
}

.poll .list-group-item {
    border-radius: 11px;
    padding: 6px 15px;
    margin-bottom: 7px;
    background: rgba(221,221,221,0.5);
    border: 0 solid #ddd;
}
.poll input{margin: auto;}

.poll .progress{
    height: 32px;
    background: rgba(221,221,221,0.3);
}
.poll .progress-bar{
    background: rgba(221,221,221,0.3);
}